@import 'mixins';

#main-nav {
    background: $dark-bg;
    width: 100%;
    padding: .5rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display:flex;

    .nav-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav--logo {
        height: 3rem;
    }

    ul {
        @include max-width;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            a {
                .nav-item--content {
                    color: transparentize($color: $white, $amount: .15);
                    @include transition();
                    font-size: 1.25rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @include hover-focus() {
                        color: $white;
                    }
                }
                .nav-item--icon {
                    font-size: 1rem;
                }
            }
        }
    }
}

// @media only screen and (min-width: 800px) {
//     #main-nav {
//         height: 100vh;
//         width: 100px;
//         top: 0;
//         right: auto;
//         bottom: 0;
//         .nav-content {
//             height: 100%;
//             flex-direction: column;
//         }
//         .nav--logo {
//             display: block;
//             margin: 20px;
//         }
//         ul {
//             li {
//                 a {
//                     .nav-item--icon {
//                         font-size: 1.75rem;
//                         margin: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }