@import 'functions';

// Headings
@mixin markdown-headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        font-weight: 300;
        @content;
        &::before {
            content: str-insert(sass-repeat("#", $i), "\00a0\00a0", $i+1);
        }
      }
    }
}

@mixin headings-all(){
    h1, h2, h3, h4, h5, h6, {
        @content
  }
}

@mixin headings-all-selector($selector){
  h1#{$selector},
  h2#{$selector},
  h3#{$selector},
  h4#{$selector},
  h5#{$selector},
  h6#{$selector}{
      @content
  }
}

@mixin hover-focus() {
    &:hover, &:focus {
        @content
    }
}

@mixin max-width(){
    max-width: 1200px;
}

@mixin circle() {
    border-radius: 50%;
}

@mixin transition() {
    transition: all .25s;
}

@mixin content() {
    margin: 20px;
    padding: 10px;
}